<p>
  harga works!
</p>


<!--<section id="harga">
  <div class="container">
    <div class="center">
      <h2>Daftar STL</h2>
    </div>
    <div>
      <table class="table table-bordered table-hovered table-striped">
        <thead>
          <tr>
            <th>No</th>
            <th>Harge Emas</th>
            <th>Harga Perak</th>
            <th>Tanggal Berlaku</th>
            <th>Keterangan</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of daftarHarga; let i = index">
            <td>{{i + 1}}</td>
            <td>{{p.hargaEmas}}</td>
            <td>{{p.hargaPerak}}</td>
            <td>{{p.tanggalBerlaku}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>-->