<footer id="footer" class="midnight-blue">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        &copy; 2017 <a target="_blank" href="http://wwww.pegadaian.co.id/" title="Free Twitter Bootstrap WordPress Themes and HTML templates"> Pegadaian </a>.
        All Rights Reserved.
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-4">
        <div class="top-number">
          <p><i class="fa fa-phone-square"></i> +0123 456 70 90</p>
        </div>
      </div>
      <div class="col-sm-6 col-xs-8">
        <div class="social">
          <ul class="social-share">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a href="#"><i class="fa fa-skype"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--/#footer-->